body{
    font-family: 'Segoe UI', sans-serif;
    /*  */
    background-color: rgb(12, 16, 20);
    margin:0;
    color: white;
}
p{
    font-family: 'Playfair Display', Georgia, 'Times New Roman', serif;
    color: rgb(241, 244, 247);
    font-size: 37px;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 0px;
}
.textRight{
    font-size: 20px;
    text-align:right;
}
.gradient-text {
    background-image: linear-gradient(to right, #ff5c00, #ff0069, #d300c5);
    -webkit-background-clip: text;
    background-clip: text;    
    -webkit-text-fill-color: transparent;
}
.container{
    display: flex;
    min-height: 100vh;
    width:100%;
}
.itemLeft{
    flex:1.2;
    display: flex;
    flex-direction: column; 
    align-items: center;   
    justify-content: center;
}
/*cancel left if*/
@media (max-width: 900px) { 
    .itemLeft {
    display: none; 
    }
}

.itemRight {
    flex: 1;
    background-color: rgb(21, 33, 39); 
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    padding: 40px;
    
}

.form-container {
    width: 100%;
    /* max-width: 350px; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;
}   

.textRight{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    align-self: flex-start;
}

input {
    background-color: rgb(26, 39, 47);
    border: 1px solid rgb(48, 64, 77);
    border-radius: 14px;
    padding: 18px 16px;
    color: white;
    font-size: 18px;
    outline: none;
}
input:focus {
    border-color: white;
}

.login-btn {
    background-color: rgb(13, 60, 113);
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding:12px;
}


.login-btn:hover {
    background-color: #1877f2;
}

.forgot-link {
    background: none;
    border: none;  
    border-radius: 25px;
    color: white;
    font-size: 18px;
    padding: 12px;
    cursor: pointer;
    margin-bottom: 30px;
}

.forgot-link:hover {
    background-color: rgb(45, 56, 61);
}

.fb-login{
    background: transparent;
    border: 1px solid white;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    padding: 12px;
    cursor: pointer;
}
.fb-login:hover {
    background-color: rgb(45, 56, 61);
}

.create-btn {
    background: transparent;
    border: 1px solid rgb(60, 151, 254);
    border-radius: 25px;
    color: rgb(60, 151, 254);
    font-size: 18px;
    padding: 12px;
    cursor: pointer;
    margin-bottom: 20px;
}

.create-btn:hover {
    background-color: rgb(45, 56, 61);
}

/* a {
color: #1877f2;
text-decoration: none;
font-size: 14px;
text-align: center;
}

a:hover {
    text-decoration: underline;
} */